.landing-page-heading, .landing-page-hero, .landing-page-my-info, .landing-page-heading-small-text{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.landing-page-hero{
    border: 1px dotted black;
    width: 80%;
    height: 45vw;
    font-size: 5vw;
    padding-top: 18%;
}

.landing-page-heading{
    width: 95%;
    border-bottom: 1px black solid;
    margin-top: 5vw;
    text-align: center;
    padding-top: 2%;
    padding-left: 2%;
    padding-right: 2%;
}

.landing-page-heading-text{
    font-size: 4vw;
    width: 100%;
    font-size: 3.8vw;
}

.landing-page-heading-small-text{
    font-size: 3.2vw;
    line-height: normal;
    margin-bottom: 2%;
}

.landing-page-my-info{
    width: 70%;
    margin-top: 1vw;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 2%;
    padding-right: 2%;
    margin-bottom: 3vw;
    
}

.landing-page-my-name{
    font-size: 4vw;
}

.landing-page-links{
    font-size: 3.5vw;
}

.landing-page-copy{
    font-size: 3vw;
}

.landing-page-rights-reserved{
    font-size: 2.5vw;
}

.landing-page-break{
    display: block;
}


@media screen and (min-width: 1000px){

    .lading-page-top-sections{
        margin-top: 4%;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        width: 90%;
        text-align: center;
        flex-wrap: nowrap;
    }

    .landing-page-hero{
        border: 1px dotted black;
        margin-right: 5%;
        width: 100%;
        height: 40vw;
        font-size: 3vw;
        padding-top: 18%;
    }

    
    .landing-page-heading{
        width: 100%;
        border: none;
        background-color: white;
        border-bottom: 1px black solid;
        margin: 0;
        padding: 0;
    }

    .landing-page-heading-text{
        width: 105%;
        text-align: center;
        margin-right: auto;
        margin-left: auto;
        font-size: 30px;
    }

    .landing-page-heading-small-text{
        font-size: 25px;
    }
    
    .landing-page-my-name{
        font-size: 3vw;
    }
    
    .landing-page-links{
        font-size: 2.5vw;
    }
    
    .landing-page-copy{
        font-size: 2vw;
    }
    
    .landing-page-rights-reserved{
        font-size: 1.5vw;
    }


}