.landing-page-heading, .landing-page-hero, .landing-page-my-info, .landing-page-heading-small-text{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.landing-page-hero{
    border: 1px dotted black;
    width: 80%;
    height: 45vw;
    font-size: 5vw;
    padding-top: 18%;
}

.landing-page-heading{
    width: 90%;
    border: 1px solid black;
    background-color: lightgray;
    margin-top: 5vw;
    font-size: 2vw;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 2%;
    padding-right: 2%;
}

.landing-page-heading-text{
    font-size: 4vw;
}

.landing-page-heading-small-text{
    font-size: 3.5vw;
}

.landing-page-my-info{
    width: 70%;
    margin-top: 5vw;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 2%;
    padding-right: 2%;
    margin-bottom: 3vw;
}

.landing-page-my-name{
    font-size: 4vw;
}

.landing-page-links{
    font-size: 3.5vw;
}

.landing-page-copy{
    font-size: 3vw;
}

.landing-page-rights-reserved{
    font-size: 2.5vw;
}

.landing-page-break{
    display: block;
}


@media screen and (min-width: 1000px){

    .landing-page-heading{
        width: 80%;
    }

    .landing-page-heading-text{
        width: 100%;
    }

    .landing-page-heading-small-text{
        width: 90%;
    }
    
    .landing-page-my-name{
        font-size: 3vw;
    }
    
    .landing-page-links{
        font-size: 2.5vw;
    }
    
    .landing-page-copy{
        font-size: 2vw;
    }
    
    .landing-page-rights-reserved{
        font-size: 1.5vw;
    }

    .landing-page-heading-text{
        font-size: 3vw;
    }
    
    .landing-page-heading-small-text{
        font-size: 2.5vw;
    }
}