.view-recipe-recipe{
    margin-top: 18%;
    margin-right: auto;
    margin-left: auto;
    width: 90%;
    max-width: 2000px;
}

.view-recipe-image-box{
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    text-align: center;
}

.view-recipe-image{
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}
.view-recipe-main-detail > *{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 2%;
    font-size: 5vw;
    margin-bottom: 1%;
}

.view-recipe-recipe-name-desktop{
    display: none;
}

.view-recipe-ingredients, .view-recipe-instructions{
    text-align: left;
    margin: 0;
    padding-left: 14%;
    width: 90%;
    font-size: 4.5vw;
}

.view-recipe-rating-desktop{
    display: none;
}

.view-recipe-back-and-edit{
    font-size: 5.5vw;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}

a.view-recipe-edit, a.view-recipe-back{
    color: black;
    text-decoration: none;
    margin-top: 6%;
    text-align: center;
    margin-bottom: 3%;
}

.view-recipe-delete{
    display: block;
    background-color: white;
    border: white solid 1px;
    color: red;
    text-decoration: none;
    font-size: 3.5vw;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 5%;
    text-align: center;
}

.view-recipe-preparation-time-mobile{
    display: block;
    font-size: 4.5vw;
}

.view-recipe-preparation-time-desktop{
    display: none;
    font-size: 4.5vw;
}

.view-recipe-star{
    color: gold;
}
.view-recipe-star-box-mobile{
    text-align: center;
    margin-top: 5%;
    width: 100%;
}

.view-recipe-star-box-desktop{
    display: none;
}


@media screen and (min-width: 1000px) {

    .view-recipe-image{
        max-height: 500px;
    }
   
    .view-recipe-recipe{
        margin-top: 10%;
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: wrap;
    }

    .view-recipe-rating-desktop{
        display: block;
        font-size: 3.5vw;
    }

    .view-recipe-rating-mobile{
        display: none;
    }

    .view-recipe-main{
        width: 50%;
        text-align: center;
    }

    .view-recipe-recipe-name-mobile{
        display: none;
    }

    .view-recipe-recipe-name-desktop{
        display: block;
        font-size: 3.5vw;
    }

    h2.view-recipe-ingredients-header, h2.view-recipe-instructions-header{
        font-size: 3.2vw;
    }

    .view-recipe-ingredients.short-list{
        font-size: 2.8vw;
    }
    .view-recipe-ingredients.long-list{
        font-size: 2.2vw;
    }

    .view-recipe-instructions.short-list{
        font-size: 2.3vw;
    }

    .view-recipe-instructions.long-list{
        font-size: 2vw;
    }

    .view-recipe-main-detail{
        width: 50%;
    }

    .view-recipe-main-detail > *{
        font-size: 4vw;
    }

    .view-recipe-recipe-name-desktop{
        margin-top: 4%;
        margin-bottom: 0;
    }

    .view-recipe-preparation-time-mobile{
        display: none;
    }
    
    .view-recipe-preparation-time-desktop{
        display: block;
        font-size: 2.5vw;
        margin-top: 2%;
    }

    .view-recipe-image-box{
        max-height: 550px;
        max-width: 550px;
    }

    a.view-recipe-edit, a.view-recipe-back{
        font-size: 3vw;
    }

    
    .view-recipe-star-box-mobile{
        display: none;
    }
    
    .view-recipe-star-box-desktop{
        display: block;
        margin-top: 0;
    }  

    a.view-recipe-delete{
        font-size: 2.2vw;
    }
}
