/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.edit-recipe-preparation-time-input:focus,
.edit-recipe-preparation-time-unit-input:focus,
.edit-recipe-variable-input:focus,
.edit-recipe-input:focus,
.edit-recipe-minus:focus,
.edit-recipe-plus:focus{
    outline: none;
}

.edit-recipe{
    width: 80%;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    text-align: center;
}

.edit-recipe-heading{
    font-size: 5vw;
    margin-top: 2%;
}

.edit-recipe-form{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10%;
}

.edit-recipe-label{
    display: block;
    font-size: 4.5vw;
    margin-top: 1vw;
    margin-bottom: 2%;
}

.edit-recipe-input{
    width: 90%;
    margin-bottom: 5%;
    font-size: 4.5vw;
    max-width: 500px;
    border: none;
    border-bottom: 1px solid black;
}

.edit-recipe-instructions-input-box{
    height: 23vw;
    width: 100%;
    font-size: 3vw;
    overflow-y: auto;
    margin-left: auto;
    margin-right: auto;
}

.edit-recipe-ingredients-input-box{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    font-size: 3vw;
    overflow: hidden;
}

.edit-recipe-button-and-text{
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

input.edit-recipe-variable-input{
    width: 80%;
    font-size: 4.5vw;
    border: 1px solid black;
}

textarea.edit-recipe-variable-input{
    width: 80%;
    font-size: 4.5vw;
    height: 18vw;
    border: 1px solid black;
}

.edit-recipe-plus{
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 100%;
    height: 6vw;
    width: 6vw;
    font-size: 4vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.edit-recipe-minus{
    position: absolute;
    right: 0;
    bottom: 0;
    height: 6vw;
    width: 6vw;
    font-size: 4vw;
    border-radius: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.edit-recipe-preparation-time-label{
    display: block;
    font-size: 4vw;
}

.edit-recipe-preparation-time-box{
    margin-top: 1%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}

.edit-recipe-preparation-time-label{
    font-size: 5vw;
}

.edit-recipe-preparation-time-input{
    font-size: 5vw;
    width: 10%;
    border: none;
    border-bottom: 1px solid black;
}

.edit-recipe-preparation-time-unit-input{
    font-size: 5vw;
    border: none;
    border-bottom: 1px solid black;
}

.edit-recipe-error, .edit-recipe-buffer{
    font-size: 4.5vw;
    color: red;
}

.edit-recipe-submit, .edit-recipe-back{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    font-size: 3vw;
}


@media screen and (min-width: 1000px) {

    .edit-recipe{
        width: 100%;
    }

    .edit-recipe-top-field{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .edit-recipe-label{
        font-size: 3vw;
        margin-top: 1vw;
    }

    .edit-recipe-ingredients-and-steps{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
    }

    .edit-recipe-button-and-text{
        width: 100%;
    }

    .edit-recipe-minus, .edit-recipe-plus{
        height: 45px;
        width:  45px;
        font-size: 40px;
    }
  
    .edit-recipe-input{
        font-size: 3vw;
    }

    .edit-recipe-variable-input{
        font-size: 3vw;
    }

    input.edit-recipe-variable-input{
        width: 80%;
        font-size: 4.5vw;
        border: 1px solid black;
    }
    
    .edit-recipe-ingredients-field{
        width: 45%;
    }

    .edit-recipe-instructions-field{
        width: 55%;
    }

    input.edit-recipe-variable-input{
        font-size: 3vw;
        margin: 0;
    }

    textarea.edit-recipe-variable-input{
        font-size: 3vw;
        width: 80%;
        height: 12vw;
    }

    .edit-recipe-error, .edit-recipe-buffer{
        font-size: 3vw;
        color: red;
    }

    .edit-recipe-preparation-time-label{
        display: block;
        font-size: 3vw;
    }

    .edit-recipe-preparation-time-unit-input, .edit-recipe-preparation-time-input{
        font-size: 3vw;
    }

    .edit-recipe-preparation-time-input{
        width: 5%;
    }


}