.delete-recipe-form{ 
    margin-left: auto; 
    margin-right: auto; 
    display: block; 
    position: fixed;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height:100%;
    padding-top: 20%;
    top: -900px;
    left: 0;
    z-index:1000;
    background-color: rgba(0, 45, 82, 0.438);
    text-align: center; 
    animation-name: slide-down;
    animation-fill-mode: forwards;
    animation-duration: 0.5s;
    animation-timing-function: ease-in;
}

@keyframes slide-down{
    0% { top: -900px}
    90%{ top: 0}
    92%{ top: 30px }
    94%{ top: 0px }
    96%{ top: 20px }
    98%{ top: 0}
    99%{ top: 10px }
    100%{ top: 0}
}

.delete-recipe-label{
    font-size: 7vw;
    margin-bottom: 2vw;
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.delete-recipe-input{
    font-size: 6vw;
    width: 50%;
    max-width: 800px;
}

.delete-recipe-submit{
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
    border: 1.5px solid #209463;
    border-radius: 3rem;
    padding: .5rem 2rem;
    color:  #209463;
    font-size: 6vw;
    margin-top: 5%;
}

a.delete-recipe-back{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: transparent;
    border: 1.5px solid rgb(99, 99, 99);
    color: rgb(99, 99, 99);
    width: 25%;
    text-decoration: none;
    border-radius: 3rem;
    font-size: 6vw;
    margin-top: 5%;
}


.delete-recipe-error{
    color: red;
    font-size: 5vw;
    margin-top: 2%;
}

.delete-recipe-submitted{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    font-size: 4.2vw;
}

@media screen and (min-width: 1000px){
    .delete-recipe-label{
        font-size: 4vw;
        margin-top: 10vw;
        margin-bottom: 5%;
    }

    .delete-recipe-input{
        font-size: 4vw;
    }

    .delete-recipe-link{
        margin-top: 5%;
        font-size: 3vw;
    }

    .delete-recipe-submit{
        font-size: 3vw;
        margin-top: 3%;
    }

    .delete-recipe-form{
        padding-top: 8%;
    }

    .delete-recipe-error{
        font-size: 3vw;
    }

    .delete-recipe-submitted{
        font-size:  3vw;
        width: 100%;
    }

    a.delete-recipe-back{
        font-size: 3.5vw;
        width: 13%;
    }
}