/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.make-recipe-preparation-time-input:focus,
.make-recipe-preparation-time-unit-input:focus,
.make-recipe-variable-input:focus,
.make-recipe-input:focus,
.make-recipe-minus:focus,
.make-recipe-plus:focus{
    outline: none;
}

.make-recipe{
    width: 80%;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20%;
    text-align: center;
}

.make-recipe-heading{
    font-size: 5vw;
    margin-top: 2%;
}

.make-recipe-form{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10%;
}

.make-recipe-label{
    display: block;
    font-size: 4.5vw;
    margin-top: 1vw;
    margin-bottom: 2%;
}

.make-recipe-input{
    width: 90%;
    margin-bottom: 5%;
    font-size: 4.5vw;
    max-width: 500px;
    border: none;
    border-bottom: 1px solid black;
}

.make-recipe-instructions-input-box{
    height: 50vw;
    width: 100%;
    font-size: 3vw;
    padding-top: 4%;
    padding-bottom: 8%;
    overflow-y: auto;
    margin-left: auto;
    margin-right: auto;
}

.make-recipe-ingredients-input-box{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    font-size: 3vw;
    overflow: hidden;
}

.make-recipe-button-and-text{
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

input.make-recipe-variable-input{
    width: 80%;
    font-size: 4.5vw;
    border: 1px solid black;
}

textarea{
    resize: none;
    overflow:hidden;
}

textarea.make-recipe-variable-input{
    width: 80%;
    font-size: 4.5vw;
    height: 22vw;
    border: 1px solid black;
}

.make-recipe-number{
    position: absolute;
    bottom: 68%;
    left: 5%;
    font-size: 5vw;
}

.make-recipe-plus{
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 100%;
    height: 6vw;
    width: 6vw;
    font-size: 5vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none;
    color: white;
    background-color:#006691;
}

.make-recipe-plus:active, .make-recipe-minus:active{
    color: black;
}

.make-recipe-minus{
    position: absolute;
    left: 0;
    bottom: 0;
    height: 6vw;
    width: 6vw;
    font-size: 5vw;
    border-radius: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(197, 37, 37);
    border: none;
    color: white;
}

.make-recipe-preparation-time-label{
    display: block;
    margin-top: 6vw;
    font-size: 4vw;
}

.make-recipe-preparation-time-box{
    margin-top: 3%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}

.make-recipe-preparation-time-label{
    font-size: 5vw;
}

.make-recipe-preparation-time-input{
    font-size: 5vw;
    width: 10%;
    border: none;
    border-bottom: 1px solid black;
}

.make-recipe-preparation-time-unit-input{
    font-size: 5vw;
    border: none;
    border-bottom: 1px solid black;
}

.make-recipe-error, .make-recipe-buffer{
    font-size: 4.5vw;
    color: red;
}

.make-recipe-submit, .make-recipe-back{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    padding: 2%;
    font-size: 6vw;
}

.make-recipe-submit{
    background-color: #209463;
    border: none;
    border-radius: 3rem;
    padding: .5rem 2rem;
    color: rgb(42, 48, 71);
}

.make-recipe-back{
    background-color: #696969;
    border: none;
    border-radius: 2.6rem;
    padding: .5rem 1.5rem;
    color: rgb(37, 43, 68);
    
}


@media screen and (min-width: 1000px) {

    .make-recipe{
        width: 100%;
        margin-top: 10%;
    }

    .make-recipe-top-field{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .make-recipe-label{
        font-size: 3vw;
        margin-top: 1vw;
    }

    .instructions.make-recipe-label{
        margin-bottom: 0;
    }

    .make-recipe-instructions-input-box{
        height: 22vw;
    }

    .make-recipe-ingredients-and-instructions{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
    }

    .make-recipe-button-and-text{
        width: 100%;
    }

    .make-recipe-minus, .make-recipe-plus{
        height: 45px;
        width:  45px;
        font-size: 40px;
    }

    .make-recipe-number{
        font-size: 40px;
    }
  
    .make-recipe-input{
        font-size: 3vw;
    }

    .make-recipe-variable-input{
        font-size: 3vw;
    }

    input.make-recipe-variable-input{
        width: 80%;
        font-size: 4.5vw;
        border: 1px solid black;
    }
    
    .make-recipe-ingredients-field{
        width: 45%;
    }

    .make-recipe-instructions-field{
        width: 55%;
    }

    input.make-recipe-variable-input{
        font-size: 3vw;
        margin: 0;
    }

    textarea.make-recipe-variable-input{
        font-size: 3vw;
        width: 80%;
        height: 10vw;
    }

    .make-recipe-error, .make-recipe-buffer{
        font-size: 3vw;
        color: red;
    }

    .make-recipe-preparation-time-label{
        display: block;
        margin-top: 2%;
        font-size: 3vw;
    }

    .make-recipe-preparation-time-unit-input, .make-recipe-preparation-time-input{
        font-size: 3vw;
    }

    .make-recipe-preparation-time-input{
        width: 5%;
    }

    .make-recipe-submit, .make-recipe-back{
        margin-top: 5vw;
        font-size: 3vw;
    }
}